	<nav class="navbar fixed-top">
		<div class="logo"><a href="/">The Cub House</a></div>
		<div class="navigation-list">
			<ul class="nav">
				<li class="nav-link scroll"><a href="/#bike-shop">Bikes</a></li>
				<li class="nav-link scroll"><a href="/#plants-coffee">Plants</a></li>
				<li class="nav-link scroll"><a href="/#plants-coffee">Coffee</a></li>
				<li class="nav-link scroll"><a href="/#popups">Popups</a></li>
				<li class="nav-link page"><a class="page" href="/events">Events</a></li>
				<li class="nav-link page"><a class="page" href="/shop">Shop</a></li>
			</ul>
		</div>
	</nav>