<section id="popups">
			<div class="container">
				<div class="row">
					<div class="popup-details col-md-12">
						<h4>The Room Of Requirement</h4>
						<h2>100 Tacos Stem Shoppe</h2>
						<h5>Until May 23</h5>
						<p class="para-xl">Check out the SimWorks x 100 Tacos x Nitto collab. No chips. All salsa.</p>
					</div>
					<div class="carousel">
						<div class="scroll-zone">
							<img src="/42040683311_28225f8f3f_o-copy.png" />
							<img src="/41996067102_b188049614_o.png" />
							<img src="/TheCubHouseCarandBikeShow-41-1335x890.png" />
							<img src="/The-Cub-House-Grand-Opening-Party-and-Bicycle-Show-57-1335x890.png" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="details col-md-6">
						<h6>Past Popups</h5>
						<p ><a href="#">Mavic Wheels</a>, <a href="#">Simworks USA</a>, <a href="#">Mule LA</a></p>
					</div>
					<div class="details col-md-6 text-right">
						<h6>Interested in hosting a popup?</h5>
						<p>Email us at <a href="#">info@cubhouse.cc</a>.</p>
					</div>
				</div>
			</div>
		</section>