<section id="teamdream-ringtail">
			<div class="container">
				<div class="row">
					<div id="teamdream" class="col-md-5">
						<h5 class="teamdream">Team Dream Bicycling Team</h4>
						<p>Back in 2012 some friends with a shared love of cycling, and let's be honest - too much time on their hands, decided to start a fake race team. </p>
						<p>Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
						<p><a href="#">teamdreambicyclingteam.com</a></p>
					</div>
					<div id="ringtail" class="col-md-5 offset-md-2">
						<h5 class="ringtail">Ringtail</h4>
						<p>Two individuals passionate about cycling, cycling apparel, and the domestic production of everything cycling related. With almost 20 combined years of experience in bike shops and designing cycling apparel brands, we decided it was time to create something of our own. Ringtail is what we think cycling apparel should be.</p>
						<p><a href="#">ridewithringtail.com</a></p>
					</div>
				</div>
			</div>
		</section>