<section id="photo-overview">
    <div class="container">
        <div class="row">
            <div class="carousel">
                <div class="scroll-zone">
                    <img src="/{{ .Params.photooverview_image1 }}" />
                    <img src="/{{ .Params.photooverview_image2 }}" />
                    <img src="/{{ .Params.photooverview_image3 }}" />
                    <img src="/{{ .Params.photooverview_image4 }}" />
                    <img src="/{{ .Params.photooverview_image5 }}" />
                </div>
            </div>
        </div>
    </div>
</section>