<section id="overview">
    <div class="container">
        <div class="row">
            <div id="overview-intro" class="col-md-6">
                <h4>{{ .Params.overview_title }}</h4>
                <p class="para-xl">{{ .Params.overview_intro }}</p>
                <p>{{ .Params.overview_full }}</p>
            </div>
            
            <div id="overview-deets" class="col-md-4 offset-md-2">
                <h4>The Deets</h4>
                <p>{{ .Params.overview_address }}<br />{{ .Params.overview_citystate }}</p>
                <table>
                    <tr>
                        <td>Tues&mdash;Sat</td>
                        <td class="text-right">11am&mdash;6pm</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td class="text-right">11am&mdash;4pm</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td class="text-right">Appointment Only</td>
                    </tr>
                </table>
                <p><a href="cel:#">626-775-3003 (call or text)</a></p>
                <p><a href="mailto:info@cubhouse.cc">info@cubhouse.cc</a></p>
            </div>
        </div>
    </div>
</section>