<section id="plants-coffee">
			<div class="container">
				<div class="row">
					<div id="plants" class="col-md-8">
						<div class="col-md-12">
							<img src="/TheCubHouseCarandBikeShow-43-8col.png" class="img-fluid img-margin" />
							<h4>Prickley Pals</h4>
							<p class="para-xl">Party Time, Succluent.<br /><a href="#">@prickleypals</a></p>
						</div>
						<div class="row">
							<div class="col-md-7">									
								<h6>What We Got</h6>
								<p>Succlents & small home goods. Macrame. Embracing the history of the building. Events & gatherings. Drought tollerant Cactus+ succlent plants. Home goods & gardening accs. Not a full service nursey BUT… “a curated” PLANT BOUTIQUE brev. it up.</p>
							</div>
							<div class="col-md-4 offset-md-1">
								<h6>What We Got Going On (services)</h6>
								<p>Cactus Bar. Arrangements. Parties & Events.</p>
								<h6>Start a conversation</h6>
								<p><a href="#">prickleypals@cubhouse.com</a></p>
							</div>
						</div>
					</div>
					<div id="pump" class="col-md-3 offset-md-1">
						<img src="/SimWorksPopUp-26-3col.png" class="img-fluid  img-margin" />
						<h4 class="pump-coffee" >Pump Coffee</h4>
						<p class="para-xl">Pump it up</p>
						<p>Espressi Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					</div>
				</div>
			</div>
		</section>