<section id="bike-shop">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h4>Not a Bike Shop</h4>
						<p class="para-xl">{{ .Params.bikeshop_intro }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7 bike_brands-we-carry">
						<h5>Brands We Carry</h5>
						<div class="row">
							<ul class="col-md-12">
								<li>All-City</li>
								<li>The Athletic</li>
								<li>Cecil</li>
								<li>Inside Line</li>
								<li>Lezyne</li>
								<li>Linus</li>
								<li>Machines For Freedom</li>
								<li>Mokuyobi</li>
								<li>Ornot</li>
								<li>Ringtail (Duh)</li>
								<li>Safety Pizza</li>
								<li>Stinner</li>
								<li>Surly</li>
								<li>Swrve</li>
								<li>Team Dream (Double Duh)</li>
								<li>Topo</li>
								<li>Velocio</li>
								<li>Vittoria </li>
								<li>Wigwam</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 offset-md-1 bike_service">
						<h5>Service</h5>
						<p class="para-xl">We offer a full set of services from fixing a flat to fixing you up with the bike of your dreams. </p>
						<p>We work with you to assess your needs. Only fix what needs fixing. Many years of experience.</p>
						<p>If you have any questions, feel free to drop by with your bike. All assesments are free.</p>
					</div>
				</div>
			</div>
		</section>